.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 20px;
}

.container .main-container .main-content {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 930px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slide-container {
  height: 620px;
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
}

.slide-content {
  margin: 100px 0 0 150px;
  position: relative;
}

.slide-container img {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
}

.active {
  opacity: 1 !important;
  visibility: visible !important;
}

/* Form Container*/
.form-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  border: 1px solid #dfdfdf;
  background: #fff;
  border-radius: 3px;
}

.form-content {
  margin-bottom: 10px;
  padding: 10px;
}

.form-content .logo {
  text-align: center;
  height: 50px;
  width: 175px;
  margin: 10px auto 20px auto;
}

.form-content .logo img {
  max-width: 100%;
}

.login-form {
  padding-top: 25px;
  margin-bottom: 10px;
}

.login-form .form-group {
  margin: 0 40px 6px;
}

.login-form .form-group .login-input {
  height: 35px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  position: relative;
}

.login-form .form-group .login-input input {
  width: 100%;
  height: 100%;
  padding: 9px 8px 7px;
  border: 0;
  outline: 0;
  background: #fafafa;
  color: #000;
  font-size: 12px;
}

.login-form .form-group .login-input input::-webkit-input-placeholder {
  font-size: 12px;
}

.login-form .form-group .login-input input:-ms-input-placeholder {
  font-size: 12px;
}

.login-form .form-group .login-input input::-ms-input-placeholder {
  font-size: 12px;
}

.login-form .form-group .login-input input::placeholder {
  font-size: 12px;
}

.login-form .btn-group {
  padding: 8px 40px;
  width: 100%;
}

.login-form .btn-group .login-btn {
  width: 100%;
  border: 1px solid transparent;
  outline: 0;
  background: #00a2ff;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 10px;
}

.or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.or hr {
  width: 35%;
  margin: 0 10px;
}

.or hr span {
  color: #919191;
}

.goto {
  padding: 10px;
  margin-bottom: 10px;
}

.goto p {
  font-size: 14px;
  margin: 15px;
  text-align: center;
}

.goto a {
  text-decoration: none !important;
  color: #00a2ff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.app-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-download p {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 10px 20px;
}

.app-download .store-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.app-download .store-link a img {
  height: 40px;
}

.store-link a:nth-child(1) {
  margin-right: 8px;
}

.footer {
  padding-bottom: 52px;
  padding-top: 2px;
}

.footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .links a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  margin: 0 8px 12px 8px;
}

.copyright {
  padding: 12px 0;
  color: #000;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  .slide-container {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .main-container {
    margin-top: 0 !important;
  }
  .box {
    border: 0px !important;
  }
}

.dark {
  background: #151515;
  border: 1px olid #262626;
  color: #dfdfdf;
}

.dark-mode-link {
  color: #fff !important;
}
/*# sourceMappingURL=login.css.map */