.container{
    height: 100vh;
    display: flex;
    flex-direction: column;

    .main-container{
        display: flex;
        flex-grow: 1;
        margin-top: 20px;
        .main-content{
            margin: 30px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 930px;
            flex-grow: 1;     
        }
    }
}
.slide-container{
    height: 620px;
    flex-basis: 450px;
              
}



.slide-content{
    margin: 100px 0 0 150px;
    position: relative;
}


.slide-container img{
        position: absolute;
        inset: 0;
        opacity: 0;
        visibility: hidden;
}

.active{
    opacity: 1 !important;
    visibility: visible !important;
}

/* Form Container*/

.form-container{
    flex-grow: 1;
    max-width:350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box{
    border: 1px solid #dfdfdf;
    background: #fff;
    border-radius: 3px;
}


.form-content{
    margin-bottom: 10px;
    padding: 10px;
}


.form-content .logo{
    text-align: center;
    height: 50px;
    width: 175px;
    margin: 10px auto 20px auto;

    img{
        max-width: 100%;
    }
}


.login-form{
    padding-top: 25px;
    margin-bottom: 10px;

    .form-group{
        margin: 0 40px 6px;

        .login-input{
            height: 35px;
            border: 1px solid #dfdfdf;
            border-radius: 3px;
            position: relative;

            input{
                width: 100%;
                height: 100%;
                padding: 9px 8px 7px;
                border: 0;
                outline: 0;
                background: #fafafa;
                color: #000;
                font-size: 12px;
                &::placeholder{
                    font-size: 12px;
                }
            }
        }
    }

    .btn-group{
        padding: 8px 40px;
        width: 100%;

        .login-btn{
            width: 100%;
            border: 1px solid transparent;
            outline: 0;
            background: rgb(0, 162, 255);
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            padding: 5px 10px;
        }
    }
}

.or{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    hr{
        width: 35%;
        margin: 0 10px;
        span{
            color: #919191;
        }
    }
}


.goto{
    padding: 10px;
    margin-bottom: 10px;
    p{
        font-size: 14px;
        margin: 15px;
        text-align: center;
    }
    a{
        text-decoration: none !important;
        color: rgb(0, 162, 255);
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
    }
}


.app-download{
    display: flex;
    flex-direction: column;

    p{
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        margin: 10px 20px;
    }

    .store-link{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        a{
            img{
                height: 40px;
            }
        }
    }
}

.store-link a:nth-child(1){
    margin-right: 8px;
}

.footer{
    padding-bottom: 52px;
    padding-top: 2px;

    .links{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        a{
            text-decoration: none;
            color: #000;
            font-size: 13px;
            line-height: 18px;
            margin: 0 8px 12px 8px;
        }
    }
}

.copyright{
    padding: 12px 0;
    color: #000;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
}

// When it is below 850px
@media only screen and (max-width:850px) {
    .slide-container{
        display: none;
    }
}


@media only screen and (max-width:500px) {
    .main-container{
        margin-top: 0 !important;
    }

    .box{
        border: 0px !important;
    }
}


.dark{
    background: #151515;
    border: 1px olid #262626;
    color: #dfdfdf;
}

.dark-mode-link{
    color: #fff !important;
}