/*Medium Screens */ 
@media (max-width:1100px) {
  .navbar{
    z-index: 9999 !important;
    .nav-wrapper{
        width: 90%;
        .search-form{
            display: none;
        }
    }
  }
    .right-col{
        display: none;
    }

    .main{
        .wrapper{
            width: 90%;
            display: block;
        }
    }


}



@media screen and (max-width:880px) {
    .profile{
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;

        &::after{
            display: none;
        }
    }

    .profile-image, .profile-user-settings, .profile-bio, .profile-stats{
        float: none;
        width: auto;
        margin: 5px auto;
    }


    .profile-image{
        margin: 0 auto;
    }

    .profile-stats{
        ul{
            li{
                display: block;
            }
        }
        
    }

    .profile-user-name{
        font-size: 20px;
    }

}




/*Small Screens */ 

@media (max-width:500px) {
 
    .nav-items{
        .icon{
            margin: 0 5px !important;
        }
    }
    
    .post{
        .post-image{
            height: 300px;
        }
    }
}


// When it is below 850px
@media only screen and (max-width:850px) {
    .slide-container{
        display: none;
    }
}


@media only screen and (max-width:500px) {
    .main-container{
        margin-top: 0 !important;
    }

    .box{
        border: 0px !important;
    }
}


.dark{
    background: #151515;
    border: 1px olid #262626;
    color: #dfdfdf;
}

.dark-mode-link{
    color: #fff !important;
}