@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  background: #fafafa;
  position: relative;
  font-family: 'Poppins', sans-serif;
  padding-top: 70px;
}

.navbar {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0;
  z-index: 99999 !important;
}

.navbar .nav-wrapper {
  width: 70%;
  max-width: 1000px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-wrapper .brand-img {
  height: 70%;
}

.navbar .nav-wrapper .search-form {
  margin-bottom: 20px;
}

.navbar .nav-wrapper .search-form .search-box {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 25px;
  background: #fafafa;
  border: 1px solid #dfdfdf;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.navbar .nav-wrapper .nav-items a {
  color: #000 !important;
}

.navbar .nav-wrapper .nav-items {
  height: 22px;
  position: relative;
}

.navbar .nav-wrapper .nav-items .icon {
  cursor: pointer;
  height: 100%;
  margin: 0 10px;
  display: inline-block;
}

.navbar .nav-wrapper .nav-items .user-profile {
  width: 22px;
  border-radius: 50%;
}

.single-post-container {
  margin-top: 5px !important;
}

.main {
  width: 100%;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.main .wrapper {
  width: 70%;
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  grid-gap: 30px;
}

.main .wrapper .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .wrapper .left-col .status-wrapper {
  width: 100%;
  height: 120px;
  background: #fff;
  border: 1px solid #fdfdfd;
  padding: 10px;
  padding-right: 0;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  overflow-x: auto;
}

.main .wrapper .left-col .status-wrapper::-webkit-scrollbar {
  display: none;
}

.main .wrapper .left-col .status-wrapper .status-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 80px;
  max-width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.main .wrapper .left-col .status-wrapper .status-card .profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(45deg, #590a5b, #ff0080 80%);
}

.main .wrapper .left-col .status-wrapper .status-card .profile-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.main .wrapper .right-col {
  padding: 20px;
}

.main .wrapper .right-col .profile-card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.main .wrapper .right-col .profile-card .profile-pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0;
  background: none;
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.main .wrapper .right-col .profile-card .profile-pic img {
  border: none !important;
  width: 70px;
  height: 70px;
}

.main .wrapper .right-col .profile-card div .username {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  margin-bottom: 0;
  margin-top: 5px;
}

.main .wrapper .right-col .profile-card div .sub-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  margin-top: 5px;
  font-weight: bold;
}

.main .wrapper .right-col .profile-card .logout-btn {
  width: 70px;
  height: 100%;
  border: none !important;
  outline: none !important;
  text-transform: capitalize;
  font-size: 12px;
  color: #00a2ff;
  opacity: 1;
  font-weight: 700 !important;
  background: none;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(45deg, #590a5b, #ff0080 80%);
}

.profile-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.username {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.post {
  width: 100%;
  height: 600px;
  background: #fff;
  border: 1px solid #dfdfdf;
  margin-top: 10px;
}

.post .info {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.post .info .profile-pic {
  width: 50px !important;
  height: 50px !important;
  padding: 0 !important;
  background: none !important;
}

.post .info .username {
  width: auto;
  font-weight: bold;
  font-size: 14px !important;
  color: #000;
  margin-left: 10px;
}

.post .info .options {
  height: 10px;
  cursor: pointer;
}

.post .info .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .post-image {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.post .post-content {
  width: 100%;
  padding: 20px;
}

.post .post-content .likes {
  font-weight: bold;
}

.post .post-content .description {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.post .post-content .description span {
  font-weight: bold;
  margin-right: 10px;
}

.post .post-content .post-time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.post .post-content .reaction-wrapper {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .post-content .reaction-wrapper .icon {
  height: 25px;
  margin: 0px;
  margin-right: 20px;
}

.post .comment-wrapper {
  width: 100%;
  height: 50px;
  border: 1px solid #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .comment-wrapper .icon {
  height: 30px !important;
  border-radius: 50%;
  width: 30px;
  margin: 20px;
}

.post .comment-wrapper .comment-box {
  width: 80%;
  height: 50px;
  border: none !important;
  outline: none !important;
  font-size: 14px;
  background: none;
}

.post .comment-wrapper .comment-btn {
  width: 70px;
  height: 100%;
  border: none !important;
  outline: none !important;
  text-transform: capitalize;
  font-size: 13px;
  color: 0, 162, 255;
  opacity: 0.5;
}

.suggestion-card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.suggestion-card .suggestion-pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0;
  background: none;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.suggestion-card .suggestion-pic img {
  border: none !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.suggestion-card div .username {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  margin-bottom: 0;
  margin-top: 5px;
}

.suggestion-card div .sub-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  margin-top: 5px;
  font-weight: bold;
}

.suggestion-card .follow-btn {
  width: 70px;
  height: 100%;
  border: none !important;
  outline: none !important;
  text-transform: capitalize;
  font-size: 12px;
  color: #00a2ff;
  opacity: 1;
  font-weight: 700 !important;
  background: none;
  margin-left: 20px;
}

.suggestion-text {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  margin: 50px 0;
}

/*========Profile Code===========*/
.profile-header {
  margin-top: 30px;
}

.profile-container {
  max-width: 95.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.profile-btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.profile-btn:focus {
  outline: 0.5rem autp #4d90fa;
}

.profile {
  padding: 5rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  width: calc(33.333% - 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}

.profile-image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.profile-user-settings, .profile-stats, .profile-bio {
  float: left;
  width: calc(66.666% - 2rem);
}

.profile-user-settings {
  margin-top: 1.1rem;
}

.profile-user-name {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
}

.profile-edit-btn {
  font-size: 1.2rem;
  line-height: 1.6;
  border: .1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
  height: 30px;
}

.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem;
}

.profile-stats {
  margin-top: 2.3rem;
}

.profile-stats ul li {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-bio {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}

.profile-real-name, .profile-stat-count, .profile-edit-btn {
  font-weight: 600;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.gallery-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 22rem;
          flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.gallery-item:hover .gallery-item-info, .gallery-item:focus .gallery-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
}

.gallery-item-likes {
  margin-right: 2.2rem;
}

.gallery-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 20px;
}

.container .main-container .main-content {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 930px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slide-container {
  height: 620px;
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
}

.slide-content {
  margin: 100px 0 0 150px;
  position: relative;
}

.slide-container img {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
}

.active {
  opacity: 1 !important;
  visibility: visible !important;
}

/* Form Container*/
.form-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  border: 1px solid #dfdfdf;
  background: #fff;
  border-radius: 3px;
}

.form-content {
  margin-bottom: 10px;
  padding: 10px;
}

.form-content .logo {
  text-align: center;
  height: 50px;
  width: 175px;
  margin: 10px auto 20px auto;
}

.form-content .logo img {
  max-width: 100%;
}

.login-form {
  padding-top: 25px;
  margin-bottom: 10px;
}

.login-form .form-group {
  margin: 0 40px 6px;
}

.login-form .form-group .login-input {
  height: 35px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  position: relative;
}

.login-form .form-group .login-input input {
  width: 100%;
  height: 100%;
  padding: 9px 8px 7px;
  border: 0;
  outline: 0;
  background: #fafafa;
  color: #000;
  font-size: 12px;
}

.login-form .form-group .login-input input::-webkit-input-placeholder {
  font-size: 12px;
}

.login-form .form-group .login-input input:-ms-input-placeholder {
  font-size: 12px;
}

.login-form .form-group .login-input input::-ms-input-placeholder {
  font-size: 12px;
}

.login-form .form-group .login-input input::placeholder {
  font-size: 12px;
}

.login-form .btn-group {
  padding: 8px 40px;
  width: 100%;
}

.login-form .btn-group .login-btn {
  width: 100%;
  border: 1px solid transparent;
  outline: 0;
  background: #00a2ff;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 10px;
}

.or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.or hr {
  width: 35%;
  margin: 0 10px;
}

.or hr span {
  color: #919191;
}

.goto {
  padding: 10px;
  margin-bottom: 10px;
}

.goto p {
  font-size: 14px;
  margin: 15px;
  text-align: center;
}

.goto a {
  text-decoration: none !important;
  color: #00a2ff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.app-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-download p {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 10px 20px;
}

.app-download .store-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.app-download .store-link a img {
  height: 40px;
}

.store-link a:nth-child(1) {
  margin-right: 8px;
}

.footer {
  padding-bottom: 52px;
  padding-top: 2px;
}

.footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .links a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  margin: 0 8px 12px 8px;
}

.copyright {
  padding: 12px 0;
  color: #000;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
}

.follow-btn {
  display: inline-block;
  background: #00a2ff;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: none;
  width: 450px;
}

/*========Camera===============*/
.camera-container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.camera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem;
}

.camera-image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 22rem;
          flex: 1 0 22rem;
  margin: 1rem;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.camera-form {
  width: 50%;
  margin: 5px auto;
}

.upload-btn {
  background: #00a2ff;
  color: #fff;
  width: 70px;
  height: 100%;
  font-size: 16px;
  border: none;
  display: block;
  outline: none;
  margin: 0 auto;
  border-radius: 3px;
}

/*========search area=========*/
.search-btn {
  color: #00a2ff;
  background: none;
  outline: none;
  border: none;
  font-size: 14px;
  margin-left: 10px;
}

.search-result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
}

.search-result-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.search-result-item p {
  margin: 10px 0 0 10px;
  font-size: 14px;
}

.search-result-item span {
  color: #a5a5a5;
  font-size: 12px;
  margin: 20px 0 0 20px;
}

.search-result-item .search-result-item-btn {
  width: 100%;
  margin-top: 10px;
}

.search-result-item .search-result-item-btn button {
  color: #00a2ff;
  background: none;
  outline: none;
  border: none;
  font-size: 14px;
  float: right;
}

/*===========Edit Profile==========*/
.edit-profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px;
}

.update_profile_btn {
  display: inline-block;
  background: #00a2ff;
  padding: 5px;
  color: #fff;
  border: none;
  font-size: 16px;
  text-align: center;
  outline: none;
  width: 100%;
}

.discover-container {
  max-width: 95.5rem;
  margin: 10px auto;
  padding: 0 2rem;
}

.signup-read {
  width: 70% !important;
}
/*# sourceMappingURL=style.css.map */